auth==0.5.3
beautifulsoup4==4.7.1
blinker==1.4
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
dnspython==1.16.0
eventlet==0.24.1
falcon==1.4.1
google==2.0.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
greenlet==0.4.15
gspread==3.1.0
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
mongoengine==0.17.0
monotonic==1.5
oauth2==1.9.0.post1
oauthlib==3.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pymongo==3.7.2
python-mimeparse==1.6.0
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.7
six==1.12.0
soupsieve==1.9
uritemplate==3.0.0
urllib3==1.24.1
Werkzeug==0.15.2
